/*****************************************************
 * Magic Mirror                                      *
 * Custom CSS                                        *
 *                                                   *
 * By Michael Teeuw http://michaelteeuw.nl           *
 * MIT Licensed.                                     *
 *                                                   *
 * Add any custom CSS below.                         *
 * Changes to this files will be ignored by GIT. *
 *****************************************************/

 /* Custom Fonts */
 @font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-LightItalic.eot');
    src: url('../fonts/gotham/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-LightItalic.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-LightItalic.woff') format('woff'),
        url('../fonts/gotham/Gotham-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-Book.eot');
    src: url('../fonts/gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-Book.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-Book.woff') format('woff'),
        url('../fonts/gotham/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-MediumItalic.eot');
    src: url('../fonts/gotham/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-MediumItalic.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-MediumItalic.woff') format('woff'),
        url('../fonts/gotham/Gotham-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-Medium.eot');
    src: url('../fonts/gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-Medium.woff') format('woff'),
        url('../fonts/gotham/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-Medium_1.eot');
    src: url('../fonts/gotham/Gotham-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-Medium_1.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-Medium_1.woff') format('woff'),
        url('../fonts/gotham/Gotham-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-Light.eot');
    src: url('../fonts/gotham/Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-Light.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-Light.woff') format('woff'),
        url('../fonts/gotham/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-BookItalic.eot');
    src: url('../fonts/gotham/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-BookItalic.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-BookItalic.woff') format('woff'),
        url('../fonts/gotham/Gotham-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-BoldItalic.eot');
    src: url('../fonts/gotham/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-BoldItalic.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-BoldItalic.woff') format('woff'),
        url('../fonts/gotham/Gotham-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-Bold.eot');
    src: url('../fonts/gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-Bold.woff') format('woff'),
        url('../fonts/gotham/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-Thin.eot');
    src: url('../fonts/gotham/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-Thin.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-Thin.woff') format('woff'),
        url('../fonts/gotham/Gotham-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-Black.eot');
    src: url('../fonts/gotham/Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-Black.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-Black.woff') format('woff'),
        url('../fonts/gotham/Gotham-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-ThinItalic.eot');
    src: url('../fonts/gotham/Gotham-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-ThinItalic.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-ThinItalic.woff') format('woff'),
        url('../fonts/gotham/Gotham-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-XLightItalic.eot');
    src: url('../fonts/gotham/Gotham-XLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-XLightItalic.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-XLightItalic.woff') format('woff'),
        url('../fonts/gotham/Gotham-XLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-UltraItalic.eot');
    src: url('../fonts/gotham/Gotham-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-UltraItalic.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-UltraItalic.woff') format('woff'),
        url('../fonts/gotham/Gotham-UltraItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-Light_1.eot');
    src: url('../fonts/gotham/Gotham-Light_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-Light_1.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-Light_1.woff') format('woff'),
        url('../fonts/gotham/Gotham-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-BookItalic_1.eot');
    src: url('../fonts/gotham/Gotham-BookItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-BookItalic_1.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-BookItalic_1.woff') format('woff'),
        url('../fonts/gotham/Gotham-BookItalic_1.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-XLight.eot');
    src: url('../fonts/gotham/Gotham-XLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-XLight.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-XLight.woff') format('woff'),
        url('../fonts/gotham/Gotham-XLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-Bold_1.eot');
    src: url('../fonts/gotham/Gotham-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-Bold_1.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-Bold_1.woff') format('woff'),
        url('../fonts/gotham/Gotham-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
 body {
 	font-family: 'Gotham', sans-serif;
 }

 .compliments .xlarge {
    font-size: 80px;
   
 }



.xsmall {
  font-size: 10px;
  line-height: 15px;
}

.small {
  font-size: 13px;
  line-height: 17px;
}

.medium {
  font-size: 25px;
  line-height: 30px;
}

.large {
  font-size: 60px;
  line-height: 60px;
}

.xlarge {
  font-size: 75px;
  line-height: 75px;
  letter-spacing: -3px;
}


/* Modules positons */

/* #calendar-table {
 *	margin-top: 200px;
 *}
 */


/*.clock {
	margin-top: 180px;

}
*/


.now {
	margin-top: 180px;
}


//clock font
.clock .large {
    font-size: 30px;
   
 }
.clock .medium {
    font-size: 16px;
   
 }


// .weatherforecast {
//	margin-top: 320px;
//}


/*
 * Region Definitions.
 */


.region {
  position: absolute;
}

.region.fullscreen {
  position: absolute;
  top: -60px;
  left: -60px;
  right: -60px;
  bottom: -60px;
  pointer-events: none;
}

.region.fullscreen * {
  pointer-events: auto;
}

.region.right {
  right: 0;
  text-align: right;
}

.region.top {
  top: 0;
}

.region.top .container {
  margin-bottom: 25px;
}

.region.bottom .container {
  margin-top: 25px;
}

.region.top .container:empty {
  margin-bottom: 0;
}

.region.top.center,
.region.bottom.center {
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.region.top.right,
.region.top.left,
.region.top.center {
  top: 100%;
}

.region.bottom {
  bottom: 0;
}

.region.bottom .container:empty {
  margin-top: 0;
}

.region.bottom.right,
.region.bottom.center,
.region.bottom.left {
  bottom: 100%;
}

.region.bar {
  width: 100%;
  text-align: center;
}

.region.third,
.region.middle.center {
  width: 100%;
  text-align: center;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.region.upper.third {
  top: 50%;
}

.region.middle.center {
  top: 20%;
}

.region.lower.third {
  top: 50%;
}

.region.left {
  text-align: left;
}

.region table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

#MMM-RemoteCompliments-compliment {
  font-size: 42px;
  font-weight: 700;
  white-space: pre;
  line-height: 48px;
}









