.row {
	clear: both;
}

.col-ic-3 {
	float: left;
	width: 33.33%;
}

.mmm-counter-title {
	font-size: 18px; 
	padding: 0; 
	margin: 0; 
	line-height: 1.2;
}

.mmm-counter-desc {
	font-size: 12px; 
	padding: 0; 
	margin: 0; 
	line-height: 1.2;
}