<div class="row">
  <div class="col-ic-3">
    <div id="printer"> <img src="{{ cartridges.img | safe }}"> </div>
    <div class="time" id="numberz-printer" data-to="361389458">{{ cartridges.output | safe }}</div>
    <div class="mmm-counter-title">Cartridges collected</div>
    <div class="mmm-counter-desc">*since January 2009</div>
  </div>
  <div class="col-ic-3">
    <div id="phone" class="wow fadeIn"><img src="{{ phones.img | safe }}"></div>
    <div class="time2" id="numberz-phone" data-to="12991028" data-easing="gompertz">{{ phones.output | safe }}</div>
    <div class="mmm-counter-title">Phones collected</div>
    <div class="mmm-counter-desc">*since January 2015</div>
  </div>
  <div class="col-ic-3">
    <div id="lbs"><img src="{{ lbs.img | safe }}"></div>
    <div class="with-text-holder">
      <span class="with-text time3" id="numberz-lbs" data-to="348200000" data-easing="gompertz">{{ lbs.output | safe }}</span>
      <span class="with-text"> lbs</span>
    </div>
    <!-- with-text-holder -->
    <div class="mmm-counter-title">of Waste diverted from landfill</div>
    <div class="mmm-counter-desc">*since January 2009</div>
  </div>
</div>
